<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>

<!-- HEADER -->
    <header>   

        <link href="css/styles.css" rel="stylesheet">
        <img src="/img/logo-mercado-liebre.svg" width="200" height="100px">

        <div>
    
     <div class="barra">Buscar productos, marcas</div>
     <div class="buscar-icono">
        <i class="fas fa-search"></i> 
     </div>
   
     <br/>
        <div class="cuerpo">
        <div>Compra en cuotas y sin tarjeta de credito    
        </div>
        
     <br/>
    
      <div href="">Ofertas</div>
      <div href="">Tiendas oficiales</div>
      <div href="">Vender</div>
      <div href="">Ayuda</div>
    
      <br/>
    
      <div href="">Crea tu cuenta</div>

      <span href="">Ingresa</span> 
      <span class="ingresa">
        <i class="fas fa-sign-out-alt"></i>
      </span>

      <div href="">Mis compras</div>
        
      <div class="burguer-menu">
        <i class="fas fa-bars"></i>

    </div>
</header>

<!-- MAIN -->

<main>

    <div class="main">

    <form action="/registro" method="POST">
    <div>
    <label for="usuario">Nombre:</label>
    <input type="text" name="usuario" id="usuario">
    </div>

    <br/>

    <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email"> 
    </div>

    <br/>

    <div>
    <label for="clave">Clave:</label>
    <input type="password" name="clave" id="clave">
    </div>

    <br/>

    <div>
    <label for="telefono">telefono:</label>
    <input type="tel" name="telefono" id="telefono">
    </div>

    <button type="submit">Enviar</button>


    </form>

</div>



</main>

<!-- FOOTER -->
<footer>
    <section class="footer">
        <div>
        <article>

            <div class="tarjeta-credito"> 
            <i class="far fa-credit-card"></i>
            </div>
            <div><strong>Paga con tarjeta o en efectivo</strong></div>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article>

            <div class="regalo-icono">
            <i class="fas fa-gift"></i>
            </div>

            <div><strong>Envío gratis desde $ 2.500</strong></div>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                </p>

        </article>

        <article>

            <div class="seguridad">
            
            <i class="fas fa-user-shield"></i>
            </div>

            <div><strong>Seguridad, de principio a fin</strong></div>
            <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</div>
        </article></div>
<br/>
        <article>
            <div><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></div>
        </article>
    </section>



</footer>
</body>
</html>